<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HANGMAN-47</title>
</head>
<body>
    <script>
        function selectAction(action)
        {
            if(action === "back")
            {
                action = ""
            }
            location.href = `/${action}`
        }
    </script>
    <h1>47 - hangman</h1>
    <h2>find</h2>
    <form action="/find" method="post">
        <fieldset>
            <label for="code">code: </label>
            <input type="text" id="code" name="code"><br>
        </fieldset>
        <fieldset>
            <button type="submit">Find</button>
        </fieldset>
    </form>

    <button onclick='selectAction("back")'>Go Back</button>
</body>
</html>